.TodoList {
    margin: 2rem auto;
    width: 500px;
    min-height: 300px;
    background-color: rgb(180, 180, 180);
    border: 2px solid black;
}

input {
    margin-top: 2rem;
}

li {
    list-style: none;
    margin: .5rem 0 .5rem 0;
}

li button {
    margin-left: 2rem;
}